body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.background {
  height: 100vh;
  width: 100vw;

  background: #2b97b9;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#particles-js{
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}
